@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Comic Neue";
  font-style: normal;
}

:root {
  --color-main : black;
  --color-themed : #10e6b0;
  --color-main-brighter : #363535;
  --card-shadow : 0px 0px 9px -2px rgba(0, 0, 0.2);
}

.container {
  height: 100vh;
  margin: auto;
}

.container.xl {
  max-width: 1280px;
}

.container.two-xl {
  max-width : 1536px
}

.v-pagination__item {
  background-color: var(--color-main);
  color: var(--color-themed);
  border-radius: 15px;
  cursor: pointer;
  transition: .2s all ease-in-out;
}

.v-pagination__item:hover {
  background-color: var(--color-themed);
  color: var(--color-main);
}

.v-pagination__item--is-active {
  background-color: var(--color-themed);
  color: var(--color-main);
}

.v-pagination__item:has(.v-btn--disabled) {
  background-color: transparent;
}

.v-pagination__item > .v-btn--disabled {
  opacity: 100%;
  color: var(--color-main);
  font-size: 2rem;
}